/* Mobile CSS style sheet */

/* Change the grid when on the mobile view to fit everything on the page */
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer"
        ;
}

/* Creation of the hamburger navigation  */
.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
}

.showNav::before {
    content: '';
    position:absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid white;
}

nav {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    width: 50%;
    left: 50%;
    height: 75vh;
    transition: transform 0.5s ease-in;
}

/* When the hamburger is clicked on the navigation bar shows */
.clicked .on {
    display: block;
}

/* When the hamburger is clicked off the navigation bar is hidden */
#clicked .off {
display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target nav {
    display: block;
    transform: translate(150%,0)
}

.showNavFlip {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid rgba(255, 255, 255, 0);
    border-bottom: 0.2em solid rgba(255, 255, 255, 0);
    border-radius: 0.1em;


}

.showNavFlip::before {
    content: '';
    position:absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid white;
}     

/* Navigation options mobile view, highlights when hovered over */
nav ul ul {
    background-color: #f0f0f0;
    padding: 0;
    width: 100%;

}

nav > ul > li:hover ul {
    opacity: 1;
    pointer-events: all;
}

nav li ul li:hover {
    background-color: #04b8ff;
}

ul {
    list-style-type: none;
  }

  