/*
Style.css
Shift Alt + A
*/

* {
    margin: 0;
    padding: 0;
}


header {
    background-color: #3D8682;
    color: #664147;
    grid-area: header;
}

nav {
    background-color: #40C9A2;
    grid-area: nav;
}

main {
    background-color: #664147;
    color: #72E0AC;
    grid-area: main;
}

aside {
    background-color: #38B39C;
    grid-area: aside;
}

footer {
    background-color: #4B6F6E;
    grid-area: footer;
}

/* Using an element selector to view headings without a class */
/* h1 {
    color:red;
    background-color:black;
} */

/* Using a defualt class to assign a colour, background and font to specific elements */
.defaultClass {
    color:rgb(34, 235, 218);
    background-color: pink;
    font-size: 100px;
}

.myForm{
    border-radius: 40px;
    border: 5px solid #666;
    box-shadow: 5px 5px 5px;
}
