/*
Style.css
Shift Alt + A
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald:wght@200&family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

*{
    color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Rubik', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #00ff87, #60efff, #ff0f7b, #f89b29);
    background-size: 500% 500%;
    animation: colourscroll 10s ease-in-out infinite;
}

/* Animation fof the background, scrolling gradient positions */
@keyframes colourscroll{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }

}

/* Make the image resize with the window */
.imgresize {
    width: 100%;
    height: auto;
  }
  
header {
    grid-area: header;
}

nav {
    background-color: #40C9A2;
    grid-area: nav;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

main {
    background-color: rgba(255, 255, 255, 0.75);
    grid-area: main;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

aside {
    background-color: rgba(255, 255, 255, 0.75);
    grid-area: aside;
    text-align: center;
    padding: 2em;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}

footer {
    background-color: rgba(255, 255, 255, 0.75);
    grid-area: footer;
    text-align: center;
    padding: 2em;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.menutitle{
    color: black;
    background: white;
}

h1 {
    padding: 10px;
    font-size: 30px;
}

h2 {
    font-size: 20px;
    text-align: left;
}

p {
    padding: 2em;
    font-size: 25px;
}

/* PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO  */

.displaybox{
    width: 95%;
    height: auto;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;;
}

/* Work Experience Work Experience Work Experience Work Experience Work Experience Work Experience Work Experience Work Experience Work Experience Work Experience  */
/* Creating the scroller class */
.scroller {
    padding:1em;
    background: #ffffff96;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    max-width: 1750px;
    width: 75vw;
    margin: auto;
}

/* implimenting the image boxes, spacing of 40px and palcing on the x axis */
.image-box {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 2rem;
}

/* Settiing image size and alignment in the scroller widget */
.image-box img {
    scroll-snap-align: center;
    height: 300px;
    max-width: 1000px;
}

figure {
    border: 1px black solid;
    background: white;
}

.qaskills li {
    color: rgba(0, 0, 0, 0);
}

.bar {
    background: rgba(255, 255, 255, 0.5);
    display: block;
    height: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.bar span{
    height: 10px;
    float: left;
    background: linear-gradient(45deg, #00ff87, #60efff, #ff0f7b, #f89b29);
    border-radius: 5px;
}

.jira{
    width: 95%;
    animation: jira 4s;
}

@keyframes jira{
    0%{width: 0%;
    }
    100%{width: 95%;
    }
}

.testrail{
    width: 97%;
    animation: testrail 4s;
}

@keyframes testrail{
    0%{width: 0%;
    }
    100%{width: 97%;
    }
}

.pc{
    width: 90%;
    animation: pc 4s;
}

@keyframes pc{
    0%{width: 0%;
    }
    100%{width: 90%;
    }
}

.vr{
    width: 95%;
    animation: vr 4s;
}

@keyframes vr{
    0%{width: 0%;
    }
    100%{width: 95%;
    }
}

.playstation{
    width: 75%;
    animation: playstation 4s;
}

@keyframes playstation{
    0%{width: 0%;
    }
    100%{width: 75%;
    }
}

.xbox{
    width: 70%;
    animation: xbox 4s;
}

@keyframes xbox{
    0%{width: 0%;
    }
    100%{width: 70%;
    }
}

.mobile{
    width: 75%;
    animation: mobile 4s;
}

@keyframes mobile{
    0%{width: 0%;
    }
    100%{width: 75%;
    }
}

/* Site Report Site Report Site Report Site Report Site Report Site Report Site Report Site Report Site Report Site Report  */

/* Contact Page Contact Page Contact Page Contact Page Contact Page Contact Page Contact Page Contact Page Contact Page Contact Page  */

/* Centre the form */
form
{
    margin-left: 10vw;
    margin-right:10vw;
}


.myForm{
    border-radius: 40px;
    border: 5px solid black;
    box-shadow: 5px 5px 5px;
}


input {
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 10px;
    margin: 5px;
    width: 60vw;
    max-width: 750px;
    grid-column: 2;
}

textarea {
    border: 3px solid black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 60vw;
    max-width: 750px;
}

/* Structure of the form using a grid layout */


